pandas
numpy
tensorflow
scikit-learn
matplotlib
seaborn
requests
scikit-learn
trl
transformers
datasets
bitsandbytes
peft==0.4.0
accelerate
huggingface_hub
google.generativeai
fastapi
uvicorn
httpx
asyncpg
pydantic
python-dotenv
